.analytics{
    width: 100%;
    height: 100svh;
    --chart-margin-left: 1rem;
}


.big-grid{
    display: grid;
    grid-template-columns: 20% 80%;
    border-radius: 0.5rem;
    max-height: 100%;
    margin-block: 1rem;
    margin-inline: 0.5rem;
    background: var(--sec-clr);
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    gap: 0.5rem;
}

.big-grid::-webkit-scrollbar{
    display: none;
}



.controls{
    height: 100%;
    background: var(--main-clr);
    border-radius: 0.5rem;
    color: #fff;

    & h2{
        text-align: center;
        color: white;
        margin-top: 1rem;
    }
}

.analysis-option{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 2rem;
    margin: auto;
    width: 80%;
    border-bottom: 1px solid #fff;

    .button-container{
        width: 50%;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
     
    }
    & button{
        border: none;
        background: none;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        transition: all ease 0.5s;

    }

}

.button-container.active{
    border-bottom: 2px solid var(--sec-clr);
}

.button-container button:hover{
    background: var(--sec-clr);
}

.button-container button:focus-visible{
    outline: 2px solid white;
}

.summary{
    display: grid;
    gap: 1rem;
    padding: 2rem;

    > *{
        border-bottom: 1px solid white;
        padding: 1rem;

        & p{
            text-align: center;
            cursor: pointer;
            border-radius: var(--border-radius);
            padding: 0.5rem;
            transition: all ease 0.5s;
        }
    }
}

.summary p:hover{
    background: var(--sec-clr);
}

.summary p:focus-visible{
    outline: 2px solid white;
}

.stat-title h3{
    padding: 0.5rem 2rem;
    margin-left: calc(var(--chart-margin-left) - 2rem);
}

.summary-card-wrapper{
    margin-top: -1rem;
    display: flex;
    width: 100%;
    gap: 0.5rem;
    padding: 2rem;
    margin-left: calc(var(--chart-margin-left) - 2rem);
}

.summary-card{
    width: 10rem;
    aspect-ratio: 16/9;
    background: var(--light-clr);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    }

.summary-card h5{
    text-align: center;
    padding: 0.5rem;
}

.summary-card p{
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}

.chart-grid{
    margin-inline: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: var(--chart-margin-left);
    gap: 0.5rem;
}

.chart-wrapper{
    width: 31rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--light-clr);
    box-shadow: var(--box-shadow);
    margin-block: 1rem;
}


@media(max-width: 600px){
    .controls{
        display: none;
    }

    .summary-card-wrapper{
        display: grid;
        grid-auto-flow: column;
        margin-left: 0;
        padding-inline: 0;
        overflow: auto;
    }

    .summary-card{
        width: 9.5rem;
    }


    .stats{
        width: 100%;
        grid-column: span 2;
        padding-inline: 1rem;

    }

    .chart-grid{
        width: 100%;
        grid-template-columns: 100%;
        margin-left: 0;
        margin: auto;
        
    }

    .chart-wrapper{
        width: 100%;
        padding: 0.5rem;
    }

    .chart-wrapper > *{
        width: 100% !important;
        height: 200px !important;
    }

}
