header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    position: sticky;
    inset: 0;
    background: var(--light-clr);
    z-index: 1000;
    box-shadow: 0 0 1rem var(--main-clr-alpha);
  }

  .mobile-nav-toggle{
    position: absolute;
    top: 1rem;
    left: 0.6rem;
    outline: none;
    width: 48px;
    height: 46px;
    padding: 0.2rem;
    background: none;
    color: var(--main-clr);
    place-content: center;
    display: none;

  }
  
  header img{
    width: 20rem;
    height: 8rem;
    object-fit: cover;
    margin-left: 2rem;
  }

  .logo{
    overflow: clip;
  }
  
  nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
    padding: 2rem 1rem;
    
  }
  
  nav a{
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
    padding: 0.2rem 0.5rem;
    border-radius: var(--button-border-radius);
    transition: all ease 0.5s;
  }
  
  nav a:focus, nav a:hover{
    background: var(--main-clr);
    color: whitesmoke;
  }

  nav a:focus{
    outline: none;
  }
  
  
  @media(max-width: 600px){

    .mobile-nav-toggle{
      display: block;
    }

    .navlist{
      --nav-mobile-width: 100%;
      position: absolute;
      top: 5.5rem;
      left: 0.5rem;
      display: grid;
      justify-content: center;
      background: var(--light-clr);
      width: calc(100% - 1rem);
      border-radius: var(--button-border-radius);
      box-shadow: var(--box-shadow);
      z-index: -10;
      overflow: clip();
      scale: 1 0;
      opacity: 0;
      transition: scale ease 300ms, opacity ease-in 300ms 150ms;
      transform-origin: top;
      
    }

    .navlist.open{
      scale: 1;
      opacity: 1;
    }

    nav > ul{
      flex-direction: column;
      align-items: center;
    }

    nav a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90vw;
      border-radius: var(--button-border-radius);
      transition: all ease-in-out 500ms;
    }

    nav a:focus-visible, nav a:hover{
      background: var(--main-clr-alpha);
      color: whitesmoke;
    }
  }