.bookings{
    --padding: 1rem;
    margin-top: 2rem;
    margin-inline: 1rem;
}

.room-card-container{
    background-color: var(--light-clr);
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 12rem;
    overflow-x: auto;
    scrollbar-width: none;
    padding: var(--padding);
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-left: var(--padding);
}

.room-card-container > * {
    scroll-snap-align: start;
}

.room-card-container::-webkit-scrollbar{
    display: none;
}

.room-card{
    background: var(--light-clr);
    width: 12rem;
    aspect-ratio: 16/9;
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.status{
    color: green;
}

.status.occupied{
    color: rgb(216, 99, 32);
}

.room-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 2rem;
    padding: var(--padding);
}


@media(max-width: 600px){
   .bookings{
       --padding: 0.5rem;
   }
    .room-grid{
        grid-template-columns: 100%;
        gap: 1rem;
        padding: 0.5rem;
    }

    .room-card-container{
        padding-inline: 0.5rem;
    }

}
